*:lang(ko) {
	@apply break-keep;
}

/* https://tailwindcomponents.com/gradient-generator/ */
.bg-gradient1 {
	@apply from-[#f8dacc] to-[#f2b599];
}

.bg-gradient2 {
	@apply from-[#f2b599] to-[#DE4500];
}
